[submodule "chef"]
	path = chef
	url = https://github.com/opscode/chef.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/puppetlabs/puppet.git
[submodule "salt"]
	path = salt
	url = https://github.com/saltstack/salt.git
[submodule "capistrano"]
	path = capistrano
	url = https://github.com/capistrano/capistrano.git
